<!DOCTYPE html>
<html>
<head>
     <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Khanij Online </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href='@Url.Content("~/css/bootstrap.min.css")' media="screen" />
    <link rel="stylesheet" href='@Url.Content("~/css/emBridge.css")' type="text/css" />
    <script src='@Url.Content("~/js/jquery.min.js")'></script>
    <script src='@Url.Content("~/js/sweetalert.min.js")'></script>
    <script src='@Url.Content("~/js/popper.min.js")'></script>
    <script src='@Url.Content("~/js/bootstrap.min.js")'></script>
</head>
<body>


    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>


</html>

