@using AdminPanelApp.Data.UserSessionIndexDB;
@using Newtonsoft.Json;
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorageService
@inject UserDb _usermanager;
<MudNavMenu>

    @if (MenuList.Any())
    {
        foreach (var item in MenuList)
        {
            if (item.ChildMenuItems.Any())
            {
                <MudNavGroup Title="@item.MenuName" Expanded="false" Icon="@Icons.Material.Filled.PersonAdd">
                    @foreach (var childitem in item.ChildMenuItems)
                    {
                        if (childitem.ChildMenuItems.Any())
                        {
                            <MudNavGroup Title="@childitem.MenuItemName" Expanded="false">

                                @foreach (var childchilditem in childitem.ChildMenuItems)
                                {
                                    <MudNavLink Href="@childchilditem.MenuItemPath" Match="NavLinkMatch.All">@childchilditem.MenuName</MudNavLink>
                                }
                            </MudNavGroup>
                        }
                        else
                        {
                            <MudNavLink Href="@childitem.MenuItemPath" Match="NavLinkMatch.All">@childitem.MenuName</MudNavLink>
                        }
                    }

                </MudNavGroup>
            }
            else
            {
                <MudNavLink Href="@item.MenuItemPath" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">@item.MenuName</MudNavLink>
            }

        }
    }


    @*    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <AuthorizeView Roles="Operator">

    <MudNavLink Href="register" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.AccountCircle">Profile</MudNavLink>

    <MudNavGroup Title="Account Master" Expanded="false" Icon="@Icons.Material.Filled.PersonAdd">
    <MudNavLink Href="" Match="NavLinkMatch.All">Supplier</MudNavLink>
    <MudNavLink Href="" Match="NavLinkMatch.All">Customer</MudNavLink>
    <MudNavLink Href="" Match="NavLinkMatch.All">Doctor</MudNavLink>
    <MudNavGroup Title="Ledger" Expanded="false">
    <MudNavLink Href="" Match="NavLinkMatch.All">Supplier Ledger</MudNavLink>
    <MudNavLink Href="" Match="NavLinkMatch.All">Customer Ledger</MudNavLink>
    </MudNavGroup>

    </MudNavGroup>

    <MudNavLink Href="Medicine" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Medication">Medicine Master</MudNavLink>

    <MudNavGroup Title="Purchase" Expanded="false" Icon="@Icons.Material.Filled.PostAdd">
    <MudNavLink Href="PurchasePageAddEdit" Match="NavLinkMatch.All">Purchase</MudNavLink>
    <MudNavLink Href="" Match="NavLinkMatch.All">Purchase Return</MudNavLink>
    </MudNavGroup>


    <MudNavGroup Title="Sales" Expanded="false" Icon="@Icons.Material.Filled.AddChart">
    <MudNavLink Href="" Match="NavLinkMatch.All">Cache Sales</MudNavLink>
    <MudNavLink Href="" Match="NavLinkMatch.All">Credit Sales</MudNavLink>
    </MudNavGroup>

    <MudNavLink Href="Counter" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Assessment">Report</MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Logout" @onclick="Logout">Logout</MudNavLink>

    </AuthorizeView> *@
</MudNavMenu>
@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AdminPanelApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div> *@

@code {

    private bool collapseNavMenu = true;
    List<MenuItem> MenuList = new List<MenuItem>();
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [CascadingParameter]
    public Task<AuthenticationState> authenticationState { get; set; }
    protected override async Task OnInitializedAsync()
    {

        var authState = await authenticationState;
        var user = authState.User;
        if (user.Identity.IsAuthenticated)
        {
            var list = await _usermanager.GetAllAsync();
            if (list != null)
            {

                var obj = JsonConvert.DeserializeObject<Result<UserLoginSession>>(list.FirstOrDefault().Email);
                MenuList = obj.Data.Items;

            }


        }
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task Logout()
    {
        await _localStorageService.RemoveItemAsync("jwt_token");
        _navigationManager.NavigateTo("/", true);
        //await _httpClient.GetAsync("user/logoutuser");
        //_navigationManager.NavigateTo("/", true);
    }
    // private bool collapseNavMenu = true;

    // private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    // private void ToggleNavMenu()
    // {
    //     collapseNavMenu = !collapseNavMenu;
    // }
}
